@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main.login__form {
  margin-top: 54px;
  margin-bottom: 54px;
  display: flex !important;
  justify-content: center;
}

.register__form {
  width: 580px;
  margin-bottom: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 20px 40px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

.register__form input,
.register__form select {
  border: 2px solid #bababa;
  border-radius: 8px;
}

.user__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #999;
  margin-bottom: 30px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;

}

*.background img {
  display: block;
  width: 100%;
  opacity: 0.6;
}

div.container {
  form {
    position: relative;
    width: fit-content;
    block-size: fit-content;
    border-style: groove;
    border-width: 3px;
    border-color: #474747;
    background-color: white;
    width: 1300px;
    left: -130px;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

div.sign_in {

  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  display: inline-block;
  border-style: dotted;
}

h3 {
  padding-top: auto;
  text-align: center;
  color: white;
  background-color: #474747;
  word-spacing: 3px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

h4{
  text-align: center;
}
form {
  position: relative;
  width: fit-content;
  block-size: fit-content;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.search__bar--container {
  height: 80px;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}

.search__bar--table-container {
  height: auto;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}

.see__details--button {
  border-radius: 4px;
  background: #0074BC;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-text-decoration: none;
  text-decoration: none;
}

input.search__bar--search-box {
  height: 40px;
  width: 100%;
  padding-left: 10px;
}